html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0 0 150px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}

#search {
  border-radius: 5px;
}
/* 
/* .centered {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
} */
